.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #40434E;
    color: brown;
}

.nav a{
    padding: 10px;
    color: brown;
}

.nav a:hover{
    color: blue;
}

.texto{
    color: #FFFFFA !important;
}